<!DOCTYPE html>
<html>
<head>
    <title>Hello Sealz</title>
    <style>
        body {
            background-color: green;
            text-align: center;
            padding-top: 200px;
        }

        h1 {
            color: white;
            font-size: 48px;
        }
    </style>
</head>
<body>
    <h1>Hello sealz</h1>
</body>
</html>
